<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head_blog::head('博客首页')"></head>
<body>

    <header th:replace="commons/header_blog::header"></header>
    <div class="container">
        <div class="row">
            <div th:replace="commons/blog_list_blog::blogListHead('博客列表')"></div>
            <div th:replace="commons/blog_list_blog::blogList"></div>
            <div th:replace="commons/blog_list_blog::blogList"></div>
            <div th:replace="commons/blog_list_blog::blogList"></div>
            <div th:replace="commons/blog_list_blog::blogList"></div>
            <div th:replace="commons/blog_list_blog::blogList"></div>
            <div th:replace="commons/blog_list_blog::blogPages"></div>
        </div>
    </div>
    <footer th:replace="commons/footer_blog::footer"></footer>
    <div th:replace="commons/script_blog::scr"></div>
</body>

</html>