<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>editor_admin_pic</title>
</head>
<body>
    <!--添加图片-->
    <div th:fragment="editor_article">
        <div  class="container card">
            <!--博客标题-->
            <div class="justify-content-center input-group mb-3 text-center card-header">
                <span class="input-group-text" id="basic-addon3">博客标题</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <!--图片预览-->
            <div class="w-100 mb-100 card-img text-center" id="img-show" alt="" data-show-duration="800" style="transition-duration: 800ms; opacity: 1; transform: translateY(0px);"></div>
            <!--清除图片按钮-->
            <!--<div class="d-md-flex justify-content-md-end card-body">
                <button class="btn btn-primary" type="button" onclick="">清空图片</button>
            </div>-->
            <!--图片链接-->
            <div class="mb-3 p-3 card-body">
                <input class="form-control" type="file" id="img-select">
            </div>

            <!--Makedown编辑器-->

            <div id="test-editormd" class="card-body">
                <textarea style="display:none;">[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
</textarea>
            </div>

            <!--返回、上传按钮-->
            <div class="card-body d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn me-md-2" type="button">返回</button>
                <button class="btn" type="button">上传</button>
            </div>

        </div>
    </div>

</body>

<div th:fragment="src_pic_show">
    <!--读取图片逻辑-->
    <script>
        var getPhoto = document.getElementById("img-select");
        getPhoto.onchange = function () {
            var file = this.files;
            console.log(file);
            var reader = new FileReader();
            reader.readAsDataURL(file[0]);
            reader.onload = function () {
                var image = document.createElement("img")
                image.src = reader.result;
                image.width = screen.width/1.5;
                var showPicture = document.getElementById("img-show");
                showPicture.append(image);
            };
        };
    </script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                path    : "/lib/editor/lib/" //这里由于应用了thymeleaf模板，所以要使用相对static目录的路径
            });

            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "/lib/editor/lib/"
            });
            */
        });
    </script>
</div>
</html>