<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="bd-footer p-3 p-md-5 mt-5 text-center text-muted bg-light" th:fragment="footer">
    <div class="container">
        <ul class="bd-footer-links">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Bilibili</a></li>
            <li><a href="#">CSDN</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>
        <p class="mb-0">不用看了这是我抄的.</p>
        <p class="mb-0">版本号，不知道</p>
    </div>
</footer>

</body>
</html>