.bd-header a {
    color: #495057!important;
    text-decoration: none!important;
}

.bd-header-links {
    padding-left:0!important;
    margin-bottom:1rem!important;
}
.bd-header-links li{
    display:inline-block!important;
}
.bd-header-links li+li {
    margin-left:1rem!important;
}

.bd-footer a {
    color: #495057!important;
    text-decoration: none!important;
}

.bd-footer-links {
    padding-left:0!important;
    margin-bottom:1rem!important;
}
.bd-footer-links li{
    display:inline-block!important;
}
.bd-footer-links li+li {
    margin-left:1rem!important;
}