@font-face {
  font-family: "iconfont"; /* Project id 2496932 */
  src: url('iconfont.woff2?t=1621478186622') format('woff2'),
       url('iconfont.woff?t=1621478186622') format('woff'),
       url('iconfont.ttf?t=1621478186622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevronleft:before {
  content: "\edff";
}

.icon-chevronright:before {
  content: "\e60b";
}

.icon-dropdown:before {
  content: "\e635";
}

.icon-csdn:before {
  content: "\e605";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-qq:before {
  content: "\e65b";
}

.icon-wechat:before {
  content: "\e64e";
}

.icon-github:before {
  content: "\e60a";
}

.icon-point:before {
  content: "\e627";
}

.icon-mail:before {
  content: "\e6d5";
}

.icon-write:before {
  content: "\e608";
}

.icon-recommend2:before {
  content: "\e601";
}

.icon-recommend:before {
  content: "\e617";
}

.icon-list:before {
  content: "\e604";
}

.icon-category:before {
  content: "\e607";
}

.icon-calendar:before {
  content: "\eb22";
}

.icon-eye:before {
  content: "\e6ca";
}

.icon-tag:before {
  content: "\e603";
}

.icon-home:before {
  content: "\e606";
}

.icon-tool:before {
  content: "\e602";
}

.icon-weather:before {
  content: "\e62d";
}

.icon-about:before {
  content: "\e667";
}

.icon-search:before {
  content: "\e600";
}

.icon-tel:before {
  content: "\e620";
}

.icon-blog:before {
  content: "\e63e";
}

.icon-user:before {
  content: "\e65d";
}

.icon-password:before {
  content: "\e63b";
}

.icon-qanda:before {
  content: "\e6c0";
}

.icon-en:before {
  content: "\e630";
}

.icon-ch:before {
  content: "\e645";
}

